<!DOCTYPE html>
<html>
<head>
  <title>Add a New Message</title>
</head>
<body>
  <h1>New Message</h1>
  <form method="POST" action="/new">
    <div>
      <label for="messageUser">Your Name:</label>
      <input type="text" id="messageUser" name="messageUser" required>
    </div>
    <div>
      <label for="messageText">Your Message:</label>
      <input type="text" id="messageText" name="messageText" required>
    </div>
    <button type="submit">Submit</button>
  </form>
  <a href="/">Go Back</a>
</body>
</html>