<!DOCTYPE html>
<html>
<head>
  <title>Message Details</title>
</head>
<body>
  <h1>Message from <%= message.user %></h1>
  <p><%= message.text %></p>
  <p><em>Added on <%= message.added.toDateString() %></em></p>
  <a href="/">Back to Message Board</a>
</body>
</html>